{% extends 'base.html' %}
{% block content %}

<div class="container page-form ">
    <!--<h1>{{ category }}</h1>-->
    <div class="row main-content">
        <!--{% for product in data %}-->
        <!--<div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3" style="width: 18rem;">-->
            <!--<img src="{{ product.img_src }}" class="card-img-top">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title">{{ product.title }}</h5>-->
                <!--<p class="card-text">{{ product.price }}</p>-->
                <!--<a href="{{ product.url }}" class="btn btn-primary" target="_blank">View Product</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    </div>
</div>
{% endblock %}
